<%- include('partials/head', { title: 'PC Studio - iOS & Web design and Develop' }); %>


<%- include('partials/navbar'); %>

<section class="container-fluid sec-greeting">
  <div class="row">
    <div class="col-lg-6 content">
      <h1>HI</h1>
      <h3>We are</h3>
      <h3>A <em>Designer</em></h3>
      <h3>And a <em>Developer</em></h3>
      <h3>Focus in iOS and Web</h3>
      <button id="viewMore" class="btn btn-lg" type="button" name="button">And <i class="fas fa-angle-double-down"></i></button>
    </div>
    <div class="col-lg-6">
      <img class="ours-img" src="images/intro.svg" alt="Work together">
    </div>
  </div>
</section>

<section class="container-fluid sec-design" id="details">
  <div class="row">
    <div class="col-lg-8 ">
      <div class="content">
        <h1 class="text-center">How I Design</h1>
        <h3>I'm a hybrid UI/UX designer, ensuring the work is simple but delightful, and of course responsive. We follow Apple's Human Interface Guidelines so that our design can easily get approved.</h3>

        <hr class="hr-programs">
        <ul class="list-group list-group-horizontal mx-auto programs">
          <li class="list-group-item flex-fill align-self-center bg-transparent border-0"><img class="img-fluid " src="images/brands/sketch.svg" alt="sketch"></li>
          <li class="list-group-item flex-fill align-self-center bg-transparent border-0"><img class="img-fluid " src="images/brands/illustrator.svg" alt="illustrator"></li>
          <li class="list-group-item flex-fill align-self-center bg-transparent border-0"><img class="img-fluid " src="images/brands/xd.svg" alt="xd"></li>
        </ul>
      </div>

      <!-- Decoration Shapes -->
      <img class="deco-ellipse1" src="images/ellipse1.svg" alt="ellipse1">
      <img class="deco-path1" src="images/path1.svg" alt="path1">
      <img class="deco-path2" src="images/path2.svg" alt="path2">
      <img class="deco-path-lg" src="images/path-lg.svg" alt="path-lg">
      <img class="deco-polygon1" src="images/polygon1.svg" alt="polygon1">
      <img class="deco-polygon2" src="images/polygon2.svg" alt="polygon2">
    </div>
    <div class="col-lg-4">
      <img class="d-none d-lg-block light-img" src="images/light.svg" alt="light">
      <img class="design-img pt-5" src="images/design.svg" alt="Designer">

    </div>
  </div>
</section>


<section class="container-fluid sec-develop">
  <!--多平台，iOS Web。多种技术-->

  <div class="row d-flex flex-lg-row-reverse">
    <div class="col-lg-8 content ">
      <h1 class="text-center">How I Program</h1>
      <h3>I deliver high-quality, bug-free code and keen to embrace new technology. To achive full-stack skill, it's challenging but interesting.</h3>

      <hr class="hr-programs">
      <ul class="list-group list-group-horizontal mx-auto programs">
        <li class="list-group-item flex-fill align-self-center bg-transparent border-0"><img class="img-fluid " src="images/brands/swift.svg" alt="swift"></li>
        <li class="list-group-item flex-fill align-self-center bg-transparent border-0"><img class="img-fluid " src="images/brands/nodejs.svg" alt="nodejs"></li>
        <li class="list-group-item flex-fill align-self-center bg-transparent border-0"><img class="img-fluid " src="images/brands/html5.svg" alt="html5"></li>
        <li class="list-group-item flex-fill align-self-center bg-transparent border-0"><img class="img-fluid " src="images/brands/css3.svg" alt="css3"></li>
        <li class="list-group-item flex-fill align-self-center bg-transparent border-0"><img class="img-fluid " src="images/brands/javascript.svg" alt="javascript"></li>
      </ul>
    </div>
    <div class="col-lg-4">
      <img class="d-none d-lg-block deco-path3" src="images/path3.svg" alt="path3">
      <img class="develop-img" src="images/develop.svg" alt="develop">

    </div>
  </div>
</section>


<section class="container-fluid sec-maintain">
  <!--and more... test, deploy, fix bugs-->

  <div class="row">
    <div class="col-lg-8 content">
      <h1 class="text-center">How I Maintain</h1>
      <h3>Maintenance involves testing, debug, refactor or upgrade. It may takes from 10 minutes to 10 hours, so we try to use clever tools to do the job efficiently</h3>

      <hr class="hr-programs">
      <ul class="list-group list-group-horizontal mx-auto programs">
        <li class="list-group-item flex-fill align-self-center bg-transparent border-0"><img class="img-fluid " src="images/brands/wordpress.svg" alt="wordpress"></li>
        <li class="list-group-item flex-fill align-self-center bg-transparent border-0"><img class="img-fluid " src="images/brands/google-cloud.svg" alt="google-cloud"></li>
        <li class="list-group-item flex-fill align-self-center bg-transparent border-0"><img class="img-fluid " src="images/brands/firebase.svg" alt="firebase"></li>
      </ul>
    </div>
    <div class="col-lg-4">
      <img class="maintain-img" src="images/maintain.svg" alt="maintain">
    </div>
  </div>
</section>

<section class="container-fluid sec-service">
  <div class="text-center content">
    <h1>What I can do</h1>

    <div class="card-deck">
      <div class="card shadow-sm">
        <div class="card-header">
          <h4>Free Consultancy</h4>
        </div>

        <div class="card-body">
          <i class="fas fa-headset fa-5x"></i>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Software architecture</li>
          <li class="list-group-item">Software R&D</li>
          <li class="list-group-item">Refactor and migration</li>
          <li class="list-group-item">Infrastructure management</li>
        </ul>
      </div>

      <div class="card shadow-sm">
        <div class="card-header">
          <h4>Design</h4>
        </div>

        <div class="card-body">
          <i class="fas fa-pen fa-5x"></i>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">iOS app wirefram/mockup</li>
          <li class="list-group-item">Front-end webpages design</li>
          <li class="list-group-item">Logo design</li>
          <li class="list-group-item">Code structure</li>
        </ul>
      </div>

      <div class="card shadow-sm">
        <div class="card-header">
          <h4>Coding</h4>
        </div>

        <div class="card-body">
          <i class="fas fa-code fa-5x"></i>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">iOS/Mobile app</li>
          <li class="list-group-item">Web app - Front/Back end</li>
          <li class="list-group-item">Database</li>
          <li class="list-group-item">Wordpress</li>
        </ul>
      </div>

      <div class="card shadow-sm">
        <div class="card-header">
          <h4>Maintain</h4>
        </div>

        <div class="card-body">
          <i class="fas fa-tools fa-5x"></i>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Testing and QA</li>
          <li class="list-group-item">Debug/Bug fix</li>
          <li class="list-group-item">Technical documentation</li>
          <li class="list-group-item">Web mangement</li>
        </ul>
      </div>

    </div>
  </div>

</section>

<section class="container-fluid sec-message">
  <!--available time. encourge people contact-->

  <div class="text-center content">
    <h1>I'm available</h1>
    <h3 class='px-md-5'>
      I’m currently available for freelance work.<br>If you have a project that you want to get started, think you need my help with something or just fancy saying hey, then get in touch.
    </h3>


    <a target="_blank" href="mailto:appstudio.pc@gmail.com"><button class="btn btn-lg"><i class="far fa-envelope"></i> MESSAGE ME</button></a>
  </div>

</section>


<%- include('partials/footer'); %>
