<%- include('partials/head', { title: 'PC Studio - iOS & Web design and Develop' }); %>

<%- include('partials/navbar'); %>

<section class="container-fluid sec-work">

  <div class="row flex-lg-row-reverse">
    <div class="col-lg-7">
      <img src="images/shapes.svg" alt="shapes">
    </div>
    <div class="col-lg-5 content">
      <h1>Portfolio</h1>
      <h3>Here's a selection of recent work.</h3>
    </div>

  </div>



</section>

<section class="container-fluid sec-project sec-tas-aurora">
  <div class="row">
    <div class="col-md-12">
      <div class="project">
        <img class="img-fluid" src="images/tasaurora.svg" loading="lazy" alt="TAS Aurora">
      </div>
      <div class="project-info">
        <h2>Tassie Aurora</h2>
        <em>iOS Design / Swift / GCP / Node</em>
        <h6 class='mt-4 px-md-5'>
          This App helps people who chasing Southen Aurora at Tasmania and New Zealand. It combines all the essential elements that influence the watching, e.g cloud, moon, rain, etc. And alert high Kp index in the coming day.
        </h6>
      </div>
      <div class="project-links">
        <a target="_blank" href="https://apps.apple.com/us/app/tassie-aurora/id1586329995">
          <button class="btn btn-lg" type="button" name="button">View on AppStore</button>
        </a>
      </div>
    </div>

  </div>
</section>

<!-- <section class="container-fluid sec-project sec-card">
  <div class="row">
    <div class="col-md-12">
      <div class="project">
        <img class="img-fluid" src="images/card.svg" loading="lazy" alt="card">
      </div>
      <div class="project-info">
        <h2>Pop Card</h2>
        <em>Web Design / Wordpress / e-Commerce / PHP</em>
        <h6 class='mt-4 pl-md-5 pr-md-5'>
          This eCommerce website uses a pure design with highlighted content. The shop provides a variety of 2D/3D cards,  based at a town of Tasmania.
        </h6>
      </div>
      <div class="project-links">
        <a target="_blank" href="https://github.com/wjnpeter/taspopcard">
          <button class="btn btn-lg" type="button" name="button">View On Github</button>
        </a>
      </div>
    </div>

  </div>
</section> -->

<%- include('partials/footer'); %>
